<div class="row">
<h3> Call COUNTER Connection </h3>
</div>
<div class="row">
  <p> Failure </p>
  <p> Check your connection info: </p>
    <%= @sushi.endpoint %>
    <%= @sushi.req_id %>
    <%= @sushi.cust_id %>
    <%= @sushi.report_start %>
    <%= @sushi.report_end %>
    <%= @sushi.password %>
</div>
