<h1>Sushi Connections</h1>
<%= link_to 'Create Sushi Connection', new_sushi_path %>
<ul>
<% @sushi.each do |s| %>
  <li>
    <%= s.name %>
    <%= s.endpoint %>
    <%= s.cust_id %>
    <%= s.req_id %>
    <%= s.report_start %>
    <%= s.report_end %>
    <%= s.password %>
    <%= link_to 'Test Connection', test_sushi_index_path%>
    <%= link_to 'Edit Connection', edit_sushi_path(s.id) %>
    <%= link_to 'Delete', sushi_path(s.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>
