<div class="container">
  <h1>Sushi Connections</h1>
  <div class="row">
    <%= link_to 'Create Sushi Connection', new_sushi_path %>
  </div>
  <% @sushi.each do |s| %>
  <div class="row">
    <%= s.name %>
    <%= s.endpoint %>
    <%= s.cust_id %>
    <%= s.req_id %>
    <%= s.report_start %>
    <%= s.report_end %>
    <%= s.password %>
    <%= link_to 'Get Counter Report', :controller => :sushi, :action => :call, :id => (s.id), :format => "csv"%>
    <%= link_to 'Test Connection', :controller => :sushi, :action => :test, :id => (s.id)%>
    <%= link_to 'Edit Connection', edit_sushi_path(s.id) %>
    <%= link_to 'Delete', sushi_path(s.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <% end %>
</div>
