<h1>Sushi Connections</h1>
<ul>
<% @sushi.each do |s| %>
  <li>
    <%= s.name %>
    <%= s.endpoint %>
    <%= s.cust_id %>
    <%= s.req_id %>
    <%= s.report_start %>
    <%= s.report_end %>
    <%= s.password %>
    <%= link_to 'Edit Connection', edit_sushi_path(s.id) %>
  </li>
  <% end %>
</ul>
