<div class="row">
<h3> Create New COUNTER Connection </h3>
</div>
<button class="sushi_button">Sushi</button>
<button class="validsushi_button">Validsushi</button>
<div class="sushi_new">
  <%= form_for @sushi, url: {action: "create"} do |f| %>
  <div class='form-group'>
    <%= f.label :name, "Database Name", class: "required" %>
    <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :endpoint, "Endpoint", class: "required" %>
    <%= f.text_field :endpoint, class: "form-control", required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :cust_id, "Customer ID", class: "required" %>
    <%= f.text_field :cust_id, class: "form-control", required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :req_id, "Requestor ID"%>
    <%= f.text_field :req_id, class: "form-control"%>
  </div>
  <div class='form-group'>
    <%= f.label :report_start, "Report Start", class: "required" %>
    <%= f.text_field :report_start, class: "form-control", required: true, value: "e.g. 2017-01-01" %>
  </div>
  <div class='form-group'>
    <%= f.label :report_end, "Report End", class: "required" %>
    <%= f.text_field :report_end, class: "form-control", required: true, value: "e.g. 2017-12-31" %>
  </div>
  <div class='form-group'>
    <%= f.label :password, "Password" %>
    <%= f.text_field :password, class: "form-control"%>
  </div>
  <div class='form-group'>
    <%= f.hidden_field :organization_id, :value => current_organization.id %>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </div>
<% end %>
<ul>
  <li>
    Dates must be formatted YYYY-MM-DD
  </li>
  <li>
    Report End dates must end with the last day of the month (e.g. 30 for September, 31 for October)
  </li>
  <li>
    The password field is optional, and depends on the provider
  </li>
  <li>
    For a list of Endpoints, see
    <%= link_to "COUNTER Endpoints", validsushi_path, class: 'btn btn-primary btn-sm' %>
  </li>
</ul>
</div>
<div class="validsushi_new">
  <div class="row">
  <h3>Import COUNTER Connections</h>
  </div>
  <div class="row">
  <p>The connections listed below are set up with known endpoints and default date ranges. Once you click import, go to <%= link_to 'Connections', 'sushi_index_path', class: 'btn btn-primary btn-sm' %> to add your custom details and finish set up. </p>
  </div>
  <div class="row header">
    <div class="col-lg-1">
      <h6>Database Name</h6>
    </div>
  </div>
  <% @validsushi.each do |s| %>
  <div class="row data">
    <div class="col-lg-1">
      <p><%= s.name %></p>
    </div>
    <div class="col-lg-2">
      <%= link_to "Import", {:controller => :validsushi, :action => :new, :id => (s.id)}, class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
</div>
