<div class="row">
<h3> Create New COUNTER Connection </h3>
</div>
  <%= form_for @sushi, url: {action: "create"} do |f| %>
  <div class='form-group'>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :endpoint, "Endpoint" %>
    <%= f.text_field :endpoint, class: "form-control", required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :cust_id, "Customer ID" %>
    <%= f.text_field :cust_id, class: "form-control", required: true %>
  </div>
  <div class='form-group'>
    <%= f.label :req_id, "Requestor ID"%>
    <%= f.text_field :req_id, class: "form-control"%>
  </div>
  <div class='form-group'>
    <%= f.label :report_start, "Report Start" %>
    <%= f.text_field :report_start, class: "form-control", required: true, value: "e.g. 2017-01-01" %>
  </div>
  <div class='form-group'>
    <%= f.label :report_end, "Report End" %>
    <%= f.text_field :report_end, class: "form-control", required: true, value: "e.g. 2017-12-31" %>
  </div>
  <div class='form-group'>
    <%= f.label :password, "Password" %>
    <%= f.text_field :password, class: "form-control"%>
  </div>
  <div class='form-group'>
    <%= f.hidden_field :organization_id, :value => 1 %>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </div>
<% end %>

<ul>
  <li>
    Dates must be formatted YYYY-MM-DD
  </li>
  <li>
    Report End dates must end with the last day of the month (e.g. 30 for September, 31 for October)
  </li>
  <li>
    The password field is optional, and depends on the provider
  </li>
  <li>
    For a list of Endpoints, see
    <%= link_to "COUNTER Endpoints", validsushi_path, class: 'btn btn-primary' %>
  </li>
</ul>
