<h1> Create New Sushi Connection </h1>
<%= form_for @sushi, url: {action: "create"} do |f| %>
  <label>
    Name
    <%= f.text_field :name %>
  </label>
  <label>
    Endpoint
    <%= f.text_field :endpoint %>
  </label>
  <label>
    Customer ID
    <%= f.text_field :cust_id %>
  </label>
  <label>
    Requestor ID
    <%= f.text_field :req_id %>
  </label>
  <label>
    Report Start
    <%= f.text_field :report_start, :value => "e.g. 2016-01-01" %>
  </label>
  <label>
    Report End
    <%= f.text_field :report_end, :value => "e.g. 2016-12-31" %>
  </label>
  <label>
    Password
    <%= f.text_field :password %>
  </label>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <label>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </label
<% end %>

<ul>
  <li>
    Dates need to be formatted YYYY-MM-DD
  </li>
  <li>
    Dates must end with the last day of the month (e.g. 30 for September, 31 for October)
  </li>
  <li>
    For a list of Endpoints, see
    <%= link_to "Home Page", about_index_path %>
  </li>
  <li>
    The password field is optional, and depends on the provider
  </li>
</ul>
