<div class="row">
<h3>Import COUNTER Connections</h>
</div>
<div class="row">
<p>The connections listed below are set up with known endpoints and default date ranges. Once you click import, go to <%= link_to 'Connections', 'sushi_index_path', class: 'btn btn-primary btn-sm' %> to add your custom details and finish set up. </p>
</div>
<div class="row header">
  <div class="col-lg-1">
    <h6>Database Name</h6>
  </div>
  <div class="col-lg-2">
    <h6>Endpoint</h6>
  </div>
  <div class="col-lg-1">
    <h6>Report Start</h6>
  </div>
  <div class="col-lg-1">
    <h6>Report End</h6>
  </div>
  <div class="col-lg-2">
    <h6>Actions</h6>
  </div>
</div>
<% @validsushi.each do |s| %>
<div class="row data">
  <div class="col-lg-1">
    <p><%= s.name %></p>
  </div>
  <div class="col-lg-2">
    <p><%= s.endpoint %></p>
  </div>
  <div class="col-lg-1">
    <p><%= s.report_start %></p>
  </div>
  <div class="col-lg-1">
    <p><%= s.report_end %></p>
  </div>
  <div class="col-lg-2">
    <%= link_to "Import", {:controller => :validsushi, :action => :import, :id => (s.id)}, class: 'btn btn-primary'%>
  </div>
</div>
<% end %>
