<h1> Edit User Profiles </h1>
  <div class="col-md-8">
    <%= form_for (@user) do |f| %>
    <label>
      Name
      <%= f.text_field :name %>
    </label>
      <%= f.submit "Edit", class: 'btn btn-primary' %>
    <label>
      Organization
      <%= f.text_field :organization %>
    </label>
      <%= f.submit "Edit", class: 'btn btn-primary' %>
    <% end %>
</div>
