<div class="row">
  <h3> User Profile </h3>
</div>
<div class="row header">
  <div class="col-lg-3">
    <h6>Name</h6>
  </div>
  <div class="col-lg-3">
    <h6>Organization</h6>
  </div>
  <div class="col-lg-3">
    <h6>Action</h6>
  </div>
</div>
<div class="row data">
  <div class="col-lg-3">
    <p><%= @user.name %></p>
  </div>
  <div class="col-lg-3">
    <% if member_of_org? %>
      <%= link_to "#{@user.organization.name}", organization_path(current_organization.id), class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
  <div class="col-lg-3">
    <%= link_to 'Edit Profile', edit_user_path(current_user.id), class: 'btn btn-primary btn-sm' %>
    <% if member_of_org? %>
      <%= link_to 'Edit Organization', edit_organization_path(current_organization.id), class: 'btn btn-primary btn-sm' %>
      <%= form_for (@user) do |f| %>
        <%= f.hidden_field :organization_id, :value => nil %>
        <%= f.submit "Leave Organization", class: 'btn btn-danger btn-sm' %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <h3> Downloads </h3>
</div>
<% @data.each do |d| %>
<div class="row data">
  <div class="col-lg-5">
    <p><%= "#{d.file.filename}" %></p>
  </div>
  <div class="col-lg-5">
    <%= link_to("Download", rails_blob_path(d.file, disposition: "attachment"), class: 'btn btn-primary btn-sm') %>
    <%= link_to 'Delete', datum_path(d.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  </div>
</div>
<% end %>
