<div class="row">
  <h3>Join Organizations</h3>
</div>
<div class="row header">
  <div class="col-lg-3">
    <h6>Name</h6>
  </div>
  <div class="col-lg-3">
    <h6>Password</h6>
  </div>
  <div class="col-lg-3">
    <h6>Action</h6>
  </div>
</div>
<div class="row data">
  <%= form_for (@organization), :url => url_for(:controller => 'organizations', :action => 'add_org_to_user') do |f| %>
  <div class='form-group'>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control"  %>
  </div>
  <div class="col-lg-3">
    <%= text_field_tag :password %>
    <%= f.text_field :password, value: nil, class: "form-control", autofocus: true, required: true %>
  </div>
  <div class="col-lg-3">
    <p><%= link_to 'Confirm', {:controller => :organizations, :action => :confirm, :organization => @organization.attributes, :password => params[:password]}, class: 'btn btn-primary' %></p>
  </div>
</div>
